<!DOCTYPE html>
<html lang="hr">

<head>
    <meta charset="UTF-8">
    <title>StreamTrack</title>

    <!-- Bootstrap za gotovi izgled stranice -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <!-- CSS datoteka -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <!-- navigacija -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">StreamTrack</a>

            <div class="navbar-nav">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/dodaj/pjesmu">Dodaj pjesmu</a>
                <a class="nav-link" href="/vrati/pjesme">Popis pjesama</a>
                <a class="nav-link" href="/vrati/pjesme/vizualizacija">Vizualizacija</a>
            </div>
        </div>
    </nav>

    <!-- glavni sadrzaj -->
    <div class="container main-box text-center">
        <h2>StreamTrack</h2>

        <p class="lead">
            Sustav za evidenciju slušanosti pjesama i izračun procijenjene zarade po streaming platformama.
        </p>

        <!-- Bootstrap row dijeli kartice u jedan red -->
        <div class="row mt-4">

            <!-- prva kartica - popis pjesama -->
            <div class="col-md-4">
                <div class="card p-3">
                    <h4>Popis pjesama</h4>
                    <p>Pregled pjesama, streamova, procijenjene zarade i viralnosti.</p>
                    <a href="/vrati/pjesme" class="btn btn-primary">Otvori popis</a>
                </div>
            </div>

            <!-- druga kartica - dodavanje pjesme -->
            <div class="col-md-4">
                <div class="card p-3">
                    <h4>Dodavanje pjesme</h4>
                    <p>Dodavanje nove pjesme i prvog zapisa streamova u bazu podataka.</p>
                    <a href="/dodaj/pjesmu" class="btn btn-success">Dodaj pjesmu</a>
                </div>
            </div>

            <!-- treca kartica - vizualizacija podataka -->
            <div class="col-md-4">
                <div class="card p-3">
                    <h4>Vizualizacija</h4>
                    <p>Grafički prikaz streamova, procijenjene zarade i promjena kroz vrijeme.</p>
                    <a href="/vrati/pjesme/vizualizacija" class="btn btn-warning">Prikaži grafove</a>
                </div>
            </div>

        </div>
    </div>

    <!-- footer  -->
    <footer class="fixed-bottom text-center py-2">
        <p>Informacijski sustavi — StreamTrack projekt</p>
    </footer>

</body>

</html>